name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-test-compose:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build & test with Maven
        working-directory: Personas
        run: ./mvnw clean test

      - name: Build Docker image
        working-directory: Personas
        run: docker build -t personas-app .

      - name: Run system with Docker Compose
        run: |
          docker compose \
            -f docker-compose.yml \
            -f docker-compose.dev.yml \
            up -d

      - name: Wait for application
        run: |
          for i in {1..30}; do
            if curl -s http://localhost:8080/actuator/health | grep UP; then
              echo "App is UP"
              exit 0
            fi
            echo "Waiting for app..."
            sleep 5
          done
          echo "App did not start"
          exit 1

      - name: Stop containers
        if: always()
        run: docker compose down -v