name: CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Personas

    steps:
      - uses: actions/checkout@v4

      - name: Grant execute permission to mvnw
        run: chmod +x mvnw

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build and run tests
        run: ./mvnw clean test -Dspring.profiles.active=test -X