name: Build & Run Docker Compose (Prod)

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build images
        working-directory: Personas
        run: |
          docker compose -f docker-compose.prod.yml build

      - name: Run containers
        working-directory: Personas
        run: |
          docker compose -f docker-compose.prod.yml up -d

      - name: Show running containers
        run: |
          docker ps